@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H&N bags</title>
    <!--Box Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"> 
    <!--Link to CSS-->
    <link rel="stylesheet" href="/css/StyleSheet.css">
</head>
<body>
    <!--Navbar-->
    <header>
        <!-- Logo -->
        <a href="#" class="logo"><i class='bx bxs-shopping-bags'></i>H&N Bags </a>
        <!--Menu Icon-->
        <i class='bx bx-menu' id="menu-icon"></i>
        <!--Nav List-->
        <ul class="navbar">
            <li> <a href="#home"> Home </a></li>
            <li> <a href="#products"> Products </a></li>
            <li> <a href="#about"> About Us </a></li>
            <li> <a href="#customer"> Customer Review </a></li>

        </ul>

        <!--Right Icons-->
        <div class="header-icon">
            <i class='bx bx-search' id="search-icon"></i>
            <i class='bx bxs-cart-alt' ><span>0</span></i>
        </div>
        <!--Search Box-->
        
        <div class="search-box">
        <input type="search" name="" id="" placeholder="Search items here...">
        </div>

    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text">
            <h3>Fashion Bags</h3>
            <h1> Look <span> Stylish</span> <br><span>Be</span> Stylish </h1>
            <a href="#" class="btn"> Buy Now</a>
        </div>
        <!-- Home Image-->
        <div class="home-img"> 
            <img src="/images/home.webp" alt="image">
        </div>
    </section>
   
    <section class="products" id="products">
        <div class="heading">
            <h2>
                OUR POPULAR
            </h2>
        </div>
        <!-- Products Container-->
        <div class="products-container">
            <div class="box">
                <img src="/images/1.webp" alt="image">
                <h2> Louis Vuitton-11</h2>
                <span> Pkr 3000</span>
                <i class='bx bxs-cart-add'></i>
            </div>
                <div class="box">
                <img src="/images/2.jpg" alt="image">
                <h2> Louis Vuitton-4</h2>
                <span> Pkr 3500</span>
                <i class='bx bxs-cart-add'></i>
            </div>
            <div class="box">    
            <img src="/images/3.webp" alt="image">
                <h2> Louis Vuitton-Hanbags</h2>
                <span> Pkr 4000</span>
                <i class='bx bxs-cart-add'></i>
            </div>
            <div class="box">   
                <img src="/images/4.jpg" alt="image">
                <h2> Onthego-GM Louis Vuitton-HandBag</h2>
                <span> Pkr 4500</span>
                <i class='bx bxs-cart-add'></i>
            </div>
            <div class="box">
                <img src="/images/5.jpg" alt="image">
                <h2> Louis Vuitton-24</h2>
                <span> Pkr 5000</span>
                <i class='bx bxs-cart-add'></i>
            </div>
            <div class="box">
                <img src="/images/6.jpg" alt="image">
                <h2> Louis Vuitton-8</h2>
                <span> Pkr 5500</span>
                <i class='bx bxs-cart-add'></i>
            </div>
            <div class="box">
                <img src="/images/7.webp" alt="image">
                <h2> Louis Vuitton-6</h2>
                <span> Pkr 6000</span>
                <i class='bx bxs-cart-add'></i>
            </div>
            <div class="box">
                <img src="/images/8.webp" alt="image">
                <h2> Louis Vuitton-NeverFull </h2>
                <span> Pkr 6500</span>
                <i class='bx bxs-cart-add'></i>
            </div>
            <div class="box">
                <img src="/images/9.webp" alt="image">
                <h2> Louis Vuitton-HandBag</h2>
                <span> Pkr 7000</span>
                <i class='bx bxs-cart-add'></i>
                        </div>
        </div>

    </section>
 <section class="about" id="about">
        <div class="about-img">
            <img src="/images/about.jpg"  alt="about">
        </div>
        <div class="about-text">
            <h2>ABOUT US</h2>
            <p> Astore is an online shopping store which is successfully manufacturing and exporting leather products since 2012.</p>

                <p>We at Astore are putting our utmost efforts in providing you high-quality and environmentally friendly leather products.</p>
                
                <p>We aimed to manufacture products that last longer without harming the environment. We are the manufactures and exporters of handbags, Foot wears, shoulder straps, wallets, jewelry, and other accessories.</p>
                
               <p> Our goal is to produce quality bags and wallets using innovative and sustainable materials such as Vegan leather. It is a type of leather made from pineapple leaves, recycled plastic, apple peels and other fruit waste.</p>
                
                <p>Welcome to Astore and shop for stylish handbags and wallets designed with beautiful attractive colors and styles.</p>
            <br>
                <h2> RETURN AND EXCHANGE POLICY</h2>
                <p>If you want to return or exchange any product purchased online, Astore gives you the right of free exchange to do so any time
                     without any hassle. Moreover, you have the right to change the color of your purchased article or even you can return the 
                     previous and buy another article of your choice.</p>
                     <br>
                <p>If the customer wants to get refund of the paid amount, he/she has the right to do this as well.The refund will be processed as soon as possible and will be made using the same payment method which was used to 
                    make the purchase. However, if any product received by the company is not in the same condition as was delivered, 
                    no exchange or refund will be made for that product</p>
               <br>
                    <h2> CONTACT </h2>
                <p> Put your query at</p>
                    <p>WhatsApp +923475391207</p>
                    <p> H&N@gmail.com</p>
        </div>
    </section>
    <!-- Customer's -->
    <section class="customers" id="customers">
        <div class="heading">
            <h2> Our Customer's</h2>

        </div>
        <div class="customers-container">
            <div class="box">
                <img src="/images/R1.jpg" alt="review">
                <h2> kamela jhon</h2>
                <p> i have bought this beautiful mini side bag from H&N bags. the quality is awesome, same as shown in the picture. thank you.</p>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
            </div>
            <div class="box">
                <img src="/images/R2.webp" alt="review">
                <h2> Lily Martin</h2>
                <p> Isn't am looking more stylish with this beautiful bag. easy to carry everywhere. alot of space in it.</p>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
            </div>
            <div class="box">
                <img src="/images/R3.jpg" alt="review">
                <h2> Sania Ahmed</h2>
                <p> me and my friend bought these from H&N.these bags are awesome and make my look more fashionable.</p>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
            </div>
            <div class="box">
                <img src="/images/R4.jpg" alt="review">
                <h2> Hasnat Amir</h2>
                <p> i have bought this beautiful bag for my to gift her on her birthday from H&N bags.Thank you H&N for making my wife happy.</p>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
            </div>
        </div>
    </section>
    <!-- NewsLetter-->
    <section class="newsletter">
        <h2> subscribe for Special <br> Discounts</h2>
        <!-- Form -->
        <form action=" ">
            <input type="email" placeholder="Enter Your Email...." required>
            <input type="submit" value="Subscribe" class="email-btn">
        </form>
    </section>
    <!-- Footer -->
    <section class="footer">
        <div class="footer-box">
            <!-- Logo -->
            <a href="#" class="logo"><i class='bx bxs-shopping-bag' ></i>H&N Bags</a>
            <p> Follow us on </p>
            <div class="social">
            <a href="#"> <i class='bx bxl-facebook-square' ></i></a>
            <a href="#"> <i class='bx bxl-twitter' ></i></a>
            <a href="#"> <i class='bx bxl-instagram' ></i></a>
            <a href="#"> <i class='bx bxl-youtube' ></i></a>
        </div>
    </div>
    <div class="footer-box">
        <h3>Support</h3>
        <li><a href="#"> Product </a></li>
        <li><a href="#"> Help </a></li>
        <li><a href="#"> Return Policy </a></li>
        <li><a href="#"> Terms Of Use </a></li>
    </div>
    <div class="footer-box">
        <h3>View Guides</h3>
        <li><a href="#"> Payments </a></li>
        <li><a href="#"> Our Blogs </a></li>
        <li><a href="#"> Our Partners </a></li>
        <li><a href="#"> Shop Now </a></li>
    </div>
    <div class="footer-box contact">
        <h3>Contact</h3>
        <span><i class='bx bx-map' ></i> Sialkot Cantt, Ghanta Ghar Chowk</span>
        <span><i class='bx bxs-phone' ></i> Call# 052 178786787</span>
        <span><i class='bx bxl-whatsapp' ></i>WhatsApp 03176786636</span>
        <span> <i class='bx bxs-envelope' ></i>H&NBags@gmail.com</span>
    </div>
    </section>
    <!-- Copyright -->
    <div class="copyright">
        <p>&#169; All rights reserved by H&N </p>
    </div>



    <!-- Link To JS -->
    <script src="java.js"></script>

</body>